<!-- <footer class="section-p1"> -->


  <!-- <div class="col">
    <img src="/img/LocalHubLogo.png" alt="">
    <h4>Contact</h4>
    <p>
      <strong> Address: </strong> As Sahafah, Olaya St. Riyadh Saudi Arabia
    </p>
    <p><strong> Phone: </strong></p>
    <p><strong> Working Hours: </strong> 9:00 am - 8:00 pm (Sun - Thurs)</p>
    <div class="follow">
      <h4>Find us here</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
 
  <div class="col">
    <h4>About</h4>
    <a href="About.html">About us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign in</a>
    <a href="#">View Cart</a>
  </div>

 
  <div class="copyright">
    <p>All rights reserved to Deema, Reem, Lama, Rahf</p>
  </div>
</footer> -->





<footer class="footer">
<div class="waves">
  <div class="wave" id="wave1"></div>
  <div class="wave" id="wave2"></div>
  <div class="wave" id="wave3"></div>
  <div class="wave" id="wave4"></div>
</div>
<ul class="social-icon">
  <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-facebook"></ion-icon>
    </a></li>
  <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-twitter"></ion-icon>
    </a></li>
  <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a></li>
  <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-instagram"></ion-icon>
    </a></li>
</ul>
<ul class="menu">
  <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
  <li class="menu__item"><a class="menu__link" href="#">About</a></li>
  <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
  <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
  <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

</ul>
<p>&copy; Reem, Deema, Rahf, Lama | All Rights Reserved</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


