<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orders</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;900 &display=swap');
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link
        rel="stylesheet" href="/asset/css/buyerOrderDetails.css">
        <!-- importing icons from awesomefont website-->
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

        <body>
            <!-- header -->
            <header>

                <a href=""><img src="/img/logo.PNG" class="logo"></a>

                <ul>
                    <li><a href="" class="active">Homepage</a></li>
                    <li><a href="">Homepage</a></li>
                    <li><a href="">Homepage</a></li>
                    <li><a href="">Homepage</a></li>
                </ul>
            </header>

            <div class="content container mx-auto text-center">
                <section>
                    <div class="container">
                        <article
                            class="card">
                            <!-- <header class="card-header"> Orders / Tracking </header> -->
                            <div class="card-body">
                                <h5>Order ID: #42787</h5>
                                <article class="card">
                                    <div class="card-body row">
                                        <div class="col">
                                            <strong>Status:</strong>
                                            <br>
                                            Confirmed
                                        </div>
                                        <div class="col">
                                            <strong>Pricing:</strong>
                                            <br>
                                            SR328
                                        </div>
                                        <div class="col">
                                            <strong>Estimated Delivery time:</strong>
                                            <br>
                                            31-3-2023
                                        </div>
                                        <div class="col">
                                            <strong>Delivery Method:</strong>
                                            <br>
                                            DHL
                                        </div>
                                    </div>
                                </article>
                                <div class="track">
                                    <div class="step active">
                                        <span class="icon">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="text">Confirmed</span>
                                    </div>
                                    <div class="step">
                                        <span class="icon">
                                            <i class="fa fa-truck"></i>
                                        </span>
                                        <span class="text">Shipped
                                        </span>
                                    </div>
                                    <div class="step">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="text">Delivered
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="/img/Necklace1.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Blue Blouse
                                                    <br>
                                                    Small</p>
                                                <span class="text-muted">$950
                                                </span>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="/img/Necklace1.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Blue Blouse
                                                    <br>
                                                    Small</p>
                                                <span class="text-muted">$850
                                                </span>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="/img/Necklace1.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Blue Blouse
                                                    <br>
                                                    Small</p>
                                                <span class="text-muted">$650
                                                </span>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                                <hr>
                                <a href="#" class="btn btn-success" data-abc="true">
                                    <i class="fa fa-chevron-left"></i>
                                    Back to orders</a>
                            </div>
                        </article>
                    </div>
                </section>
            </div>


            <%- include('partials/footer') %></body>
    </head>
</html>
