<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
  </head>
  <body>
    <h1>Checkout Page</h1>
    <p>Click the following link to complete your payment:</p>
    <a href="<%= paymentLink %>"><%= paymentLink %></a>
    <p>Your order number is <%= orderNumber %>.</p>
    <p>Your total price is <%= totalPrice %>.</p>
  </body>
</html>