<!DOCTYPE html>
<html>
    <head>

        <!-- meta tags -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width , initial-scale=1.0"/>
        <title>The Local Hub</title>
        <link
        rel="stylesheet" href="/asset/css/addproductstyle.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

    </head>

    <!-- navbar -->
    <%- include('partials/nav-bar') %>

    <body>

        <div class="container" style="margin: 90px 454px 0;">
            <div class="addproduct-form-container">

                <img src="\img\scatter.png" class="scatter" alt="" style="opacity: 0.5;">
                <form action="/seller/addProduct" method="POST" name="products" enctype="multipart/form-data">

                    <h3>Add a New Product
                    </h3>

                    <label for="name">Product Name</label>
                    <input required type="text" name="productname" placeholder="enter product name" class="box">

                    <label for="name">Product Price</label>
                    <input required type="number" name="productprice" placeholder="enter product price" class="box">

                    <label for="name">Product Description</label>
                    <textarea required type="text" name="productdesc" placeholder="enter product description" class="box"></textarea>

                    <label for="name">Size of Model</label>
                    <input required type="text" name="sizeModel" placeholder="Enter the size of the model " class="box">

                    <label for="name">Main Product Image</label>
                    <input required type="file" name="productimg1" accept="image/png , image/svg , image/jpeg , image/jpg" class="box">

                    <label for="name">Product Image 2</label>
                    <input required type="file" name="productimg2" accept="image/png , image/svg , image/jpeg , image/jpg" class="box">

                    <label for="name">Product Image 3</label>
                    <input required type="file" name="productimg3" accept="image/png , image/svg , image/jpeg , image/jpg" class="box">

                    <label for="name">Size Guide</label>
                    <input required type="text" name="sizeGuide" accept="image/png , image/svg , image/jpeg , image/jpg" class="box">

                    <label for="name">Care Process</label>
                    <textarea required type="text" name="careProcess" placeholder="enter care process" class="box"></textarea>

                    <label for="name">Available Sizes</label>
                    <label for="small">small</label>
                    <input type="checkbox" name="small" id="" value="small">
                    <label for="medium">medium</label>
                    <input type="checkbox" name="medium" id="" value="medium">
                    <label for="large">large</label>
                    <input type="checkbox" name="large" id="" value="large">


                    <br>
                    <input type="submit"  onclick="return validateSizes()" class="btn" for="products" name="add_product" value=" add product ">

                </form>


            </div>
        </div>


        <script>
            // To make sure at least one size is chosen
            function validateSizes() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                let checked = false;
                for (let i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        checked = true;
                        break;
                    }
                }
                if (! checked) {
                    alert('Please select at least one size.');
                    return false;
                }
                return true;
            }
        </script>


    </body>
</html>
